
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Talk of Broadway</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Talk of Broadway">
		<meta name="theme-color" content="#000000">

        <link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="https://cdn-images-1.medium.com/max/2000/1*QpBJ5ELrWbCoIQSg9d3_0w.jpeg">
		<link rel="icon" type="image/png" sizes="196x196" href="https://cdn-images-1.medium.com/max/2000/1*QpBJ5ELrWbCoIQSg9d3_0w.jpeg">
		<link rel="icon" type="image/png" sizes="160x160" href="https://cdn-images-1.medium.com/max/2000/1*QpBJ5ELrWbCoIQSg9d3_0w.jpeg">
		<link rel="icon" type="image/png" sizes="96x96" href="https://cdn-images-1.medium.com/max/2000/1*QpBJ5ELrWbCoIQSg9d3_0w.jpeg">
		<link rel="icon" type="image/png" sizes="64x64" href="https://cdn-images-1.medium.com/max/2000/1*QpBJ5ELrWbCoIQSg9d3_0w.jpeg">
		<link rel="icon" type="image/png" sizes="32x32" href="https://cdn-images-1.medium.com/max/2000/1*QpBJ5ELrWbCoIQSg9d3_0w.jpeg">
		<link rel="icon" type="image/png" sizes="16x16" href="https://cdn-images-1.medium.com/max/2000/1*QpBJ5ELrWbCoIQSg9d3_0w.jpeg">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700|Abril+Fatface' rel='stylesheet' type='text/css'>
        
        

		<link rel="stylesheet" type="text/css" href="{% static '/broadway/css/home.css' %}">
		
<link rel="canonical" href="http://talkofbroadway.com/" />
</head>
    <body>
        <nav class="animated fadeInDown top container-fluid text-center nav-bar">
            <ul class="nav_main">
                <li><a href="/">Welcome</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/hours">Hours</a></li>
            </ul>
        </nav>
        <div class="showcase">
            <h1 class="animated fadeInDown">Talk of Broadway</h1>
            <p class="animated fadeInLeft delay-1s">Serving the community for more than 20 years.</p>
            <a href="#gohere" id="btnScrollDown" style="text-decoration:none;"><button class="btn animated fadeInUp delay-2s">Slide Down</button></a>
        </div>
        {% load static %}
        <div class="container heading_image mx-auto animated" id="topheader">
            <center><a href="/" class="logo"><img src="{% static '/broadway/images/translogoblack.png' %}" alt="Talk of Brodway"></a></center>
        </div>
        <div class="container subtitle_box">
            <p class="subtitle fancy"><span>BRUNCH CAFE</span></p>        
        </div>
        <div class="container background">
            <div class="container intro">
                <div class="leftbox"></div>
                {% load static %}
                <div class="animated ind" style="">
                    <img src="{% static  '/broadway/images/background-beverage-breakfast-414645.jpg' %}" alt="">
                </div>
                <div class="container row">
                    <div class="col-md-7">
                        <h4>COME JOIN US AT THE HEART OF REDWOOD CITY AND DISCOVER OUR CLASSIC MENU</h4>
                    </div>
                </div>
                <div class="container row">
                    <div class="col-sm-5">
                        <p>Composed of sandwiches, omelettes, burgers, coffee and eggs, our offer is inspired by traditional American cuisine and the residents of Downtown Redwood City. Thus, the quality is assured and the taste always delicious. Take the opportunity to enjoy one of our delicious omelettes, and why not, one of our equally delicious burgers. For here or for take out, we guarantee quality.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <section>
    		<div class="container menucolor">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="menulist">
                            <li>
                                <h3>Eggs bendict</h3>
                                <p>Two poached eggs with Canadian bacon on English muffin, topped with hollandaise sauce</p>
                                <p class="price"><sup>$</sup>13<sup>00<sup></p>
                            </li>
                            <li>
                                <h3>Eggs Florentine</h3>
                                <p>Sauteed spinach & two poached eggs on English muffin, topped with hollandaise sauce</p>
                                <p class="price"><sup>$</sup>12<sup>00</sup></p>
                            </li>
                            <li>
                                <h3>Crab Benedict</h3>
                                <p>Crab meat, spinach, two poached eggs on English muffin with hollandaise sauce</p>
                                <p class="price"><sup>$</sup>15<sup>00</sup></p>
                            </li>
                            <li>
                                <h3>Lisa's Benedict</h3>
                                <p>Sauteed spinach, two poached eggs & Canadian bacon on English muffin without hollandaise sauce</p>
                                <p class="price"><sup>$</sup>13<sup>00</sup></p>
                            </li>
                            <li>
                                <h3>Eggs blackstone</h3>
                                <p>Two poached eggs, grilled tomatoes & regular bacon English muffin with hollandaise sauce</p>
                                <p class="price"><sup>$</sup>13<sup>00</sup></p>
                            </li>
                        </ul>

                        </div>
                        <div class="col-md-6">
                        <ul class="menulist">
                            <li>
                                <h3>Veggie Crepes</h3>
                                <p>Fresh steamed vegetables topped with sour cream</p>
                                <p class="price"><sup>$</sup>12<sup>00</sup></p>
                            </li>
                            <li>
                                <h3>Broadway Crepes</h3>
                                <p>Baby shrimp and avocado with cheese topped with Hollandaise sauce</p>
                                <p class="price"><sup>$</sup>13<sup>00</sup></p>
                            </li>
                                                        <li>
                                <h3>Chef's Crepes</h3>
                                <p>Ham, sausage, bacon, onions, mushrooms and cheese topped with sour cream</p>
                                <p class="price"><sup>$</sup>14<sup>50</sup></p>
                            </li>
                                                        <li>
                                <h3>FRESH FRUIT CREPES</h3>
                                <p>Seasonal fresh fruits topped with whipped cream || no side                                   </p>
                                <p class="price"><sup>$</sup>12<sup>00</sup></p>
                            </li>
                        </ul>

                        </div>
                    </div>
                </div>
            </section>
            <section class="gallery">
                <div class="container background">
                    <div class="row">
                        <div class="col-md-6 pushright">
                                {% load static %}
                            <div class="animated mdphoto"><img src="{% static  '/broadway/images/appetizer-avocado-bread-566566.jpg' %}" alt=""></div>
                        </div>
                        <div class="col-md-4">
                                {% load static %}
                            <div class="animated smphoto"><img src="{% static '/broadway/images/blur-bread-close-up-203089.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container background menucolor">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="menulist">
                                <li>
                                    <h3>DENVER OMELETTE</h3>
                                    <p>The good old ham, bell pepper, onions and cheese</p>
                                    <p class="price"><sup>$</sup>13<sup>00</sup></p>
                                </li>
                                                            <li>
                                    <h3>ALASKAN OMELETTE</h3>
                                    <p>Ham, bacon, bell pepper, onions, tomatoes and cheese</p>
                                    <p class="price"><sup>$</sup>14<sup>00</sup></p>
                                </li>
                                <li>
                                    <h3>MEXICAN OMELETTE</h3>
                                    <p>Jalapeno, onions, tomatoes and cheese</p>
                                    <p class="price"><sup>$</sup>12<sup>00</sup></p>
                                </li>
                           </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="menulist">
                                <li>
                                    <h3>TEXAS OMELETTE</h3>
                                    <p>Fresh chili with beans, onions and cheese</p>
                                    <p class="price"><sup>$</sup>13<sup>00</sup></p>
                                </li>
                                <li>
                                    <h3>FARMHOUSE OMELETTE</h3>
                                    <p>Ground beef, zucchini, onions, bell pepper, mushrooms, tomatoes and cheese</p>
                                    <p class="price"><sup>$</sup>13<sup>50</sup></p>
                                </li>
                                <li>
                                    <h3>CHEF'S OMELETTE</h3>
                                    <p>Ham, sausage, bacon, onions, mushrooms and cheese</p>
                                    <p class="price"><sup>$</sup>14<sup>50</sup></p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="background questions container">
            <section class="questions">
            <div class="container">
                <div class="row rowSandwich">
                    <div class="col-md-7">
                            {% load static %}
                        <div class="lgphoto animOut"><img src="{% static '/broadway/images/pexels-photo-357573.jpeg' %}" alt=""/></div>
                    </div>
                    <div class="container col-md-3 question_text">
                        <div class="container question_background">
                        <h4>ANY QUESTIONS ON MENU?</h4>
                        <p>Take a look at our full menu or give us a call for more information at 
                            <br>650-368-3295.</p>
                        </div>
                    <a href="/menu" class="gold"><button class="btn-outline-secondary btn-lg menu_btn" style="margin-top: 90px;">Full Menu</button></a>
                    <div class="xLphoto rotating_sandwich" style="margin-top: 20px;">
                        <!-- <img src="http://marchenotredame.com/wp-content/themes/marche-notre-dame/img/sandwich.gif" alt="" class="ie-img"> -->
                    </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <div class="background container smphoto">
                {% load static %}
            <img src="{% static '/broadway/images/brick-wall-bricks-bright-227396.jpg' %}"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            
            $(document).ready(function() {

                $('#btnScrollDown').click(function(){
                    $('html, body').animate({scrollTop: $("#topheader").offset().top}, '2000');
                    return false;
                })
            });
        </script>
        
    </body>
    <footer>
		<div class="background text-center footer">
                    <p>
                    2096 Broadway St<br/>
                    Redwood City, CA 94063
                 </p>
            <p class="tele"><a href="tel:6503683295" class="tel" target="_blank">650<span>.</span>368<span>.</span>3295</a></p>
            <ul class="list-unstyled footerSocial">
                <li><a href="https://www.yelp.com/biz/talk-of-broadway-redwood-city" target="_blank" class="linkHover"><span>Yelp</span></a></li>
                <li><a href="https://www.google.com/search?q=talk+of+braodway&oq=talk+of+braodway&aqs=chrome..69i57j0l5.1566j0j9&sourceid=chrome&ie=UTF-8#lrd=0x808fa3acd302e47d:0x8147edd3e1da8e57,1,,," target="_blank" class="linkHover"><span>Google</span></a></li>
                <li><a href="https://www.tripadvisor.com/Restaurant_Review-g32956-d4275945-Reviews-Talk_of_Broadway-Redwood_City_California.html" target="_blank" class="linkHover"><span>TripAdvisor</span></a></li>
                <li><a href="https://www.zomato.com/redwood-city-ca/talk-of-broadway-redwood-city/menu" target="_blank" class="linkHover"><span>Zomato</span></a></li>
            </ul>
        </div>
</html>